.eventNews {
    background: var(--card-bg);
    box-shadow: var(--card-drop-shadow);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    container: eventNews / inline-size;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        width: 100%;
        object-fit: cover;
        max-height: 20rem;
    }

    &.altBg {
        background: var(--card-bg-alt);
    }
}

.metaData {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-block-end: 0.5rem;
}

.link {
    color: var(--highlight);
    text-decoration: solid underline var(--link-underline) 2px;
    margin-block-end: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    display: block;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.eventNewsContent {
    display: flex;
    container: eventNews / inline-size;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4rem;

    div {
        flex: 1;
    }
}

@container eventNews (width > 50rem) {
    .eventNewsContent {
        flex-direction: row;
    }

    .eventNews figure {
        max-inline-size: 28rem;
    }

}