.eventNews {
    background: var(--card-bg);
    box-shadow: var(--card-drop-shadow);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    container: eventNews / inline-size;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        width: 100%;
        object-fit: cover;
        max-height: 20rem;
    }

    &.altBg {
        background: var(--card-bg-alt);
    }
}

.metaData {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-block-end: 0.5rem;
}

.link {
    color: var(--highlight);    
    border-block-end: 0.2rem solid var(--link-underline);
    margin-block-end: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    display: inline-block;
    position: relative;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.eventNewsContent {
    display: flex;
    container: eventNews / inline-size;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4rem;

    div {
        flex: 1;
    }
}

@container eventNews (width > 50rem) {
    .eventNewsContent {
        flex-direction: row;
    }

    .eventNews figure {
        max-inline-size: 28rem;
        inline-size: 100%;
    }
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(to right, rgba(var(--soft-yellow), 0.75), rgba(var(--vibrant-orange), 0.75));
    bottom: -0.5rem;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}

.link:hover::after,
.link:focus::after {
    transform: scaleX(1);
}

.link:focus {
    outline: none;
}