.footer {
    background: var(--footer-bg);
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
    >* {
        width: 100%;
        margin: 0 auto;
        max-inline-size: var(--max-width);
    }

    address {
        display: flex;

        >* {
            flex: 1;
        }
    }

    small {
        font-family: var(--font-lora);
    }
}