.heroImage {
    --hero-bg: '';
    display: flex;
    flex-direction: column;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;    
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: var(--hero-bg);
    width: 100vw;
    padding: clamp(1rem, 5vw, 2rem);
    height: clamp(20rem, calc(1rem + 40vw), 70rem);

    .content {
        text-align: center;
        max-inline-size: 102.5rem;
        margin: 0 auto;
    }

    h1 {
        font-family: var(--font-lora);
        font-size: 2.4rem;
        font-weight: 700;
        margin-block-end: 2rem;

        @media (width > 50rem) {
            font-size: 6.4rem;
            font-weight: 700;
        }
    }

    p {

        font-size: 1.4rem;
        font-weight: 400;

        @media (width > 50rem) {
            font-size: 2.4rem;
        }
    }
}