.page {
    background-color: var(--page-bg);
    height: 100%;
    min-height: 100vh;

    main>header~* {
        max-inline-size: 102.5rem;
        margin: 0 auto;
        padding: 0 2rem;

        @media (width > 50rem) {
            padding: 0;
        }
    }

    header>h1 {
        font-size: 3.1rem;
        font-weight: 500;
        margin-block-end: 2rem;
        font-family: var(--font-lora);
        max-width: 102.5rem;
        margin: 4rem auto 3rem;
    }
}