.mainTitle {
    font-family: var(--font-lora);
    margin-block-end: 2rem;
    font-size: 1.8rem;
    font-weight: 500;

    @media (width > 50rem) {
        font-size: 3.1rem;
    }
}

header > .mainTitle {
    margin-block-start: 4rem;
}