.navigation {
    --ulPositionRight: -80%;
    background: var(--main-nav-bg);
    font-weight: 600;
    font-size: 2rem;
    padding: 2.1rem 0;

    &.isOpen {
        --ulPositionRight: 0;
    }

    .logo,
    .logo img {
        width: 32px;
        height: 32px;
    }

    div {
        inline-size: 100%;
        max-inline-size: var(--max-width);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            z-index: 99;
        }

        @media (width < 50rem) {
            ul {
                flex-direction: column;
                position: fixed;
                width: 80%;
                transition: 0.25s ease-in-out;
                background: var(--mobile-bg);
                top: 0;
                right: var(--ulPositionRight);
                height: 100%;
                padding: 1rem;
                z-index: 9;
            }
        }
    }

    .iconBtn {
        background: transparent;
        border: none;        
        padding: 1rem;
        color: var(--text-bg);
    }

    ul {
        display: flex;
        gap: 3rem;
    }

    li {
        position: relative;
        overflow: hidden;
        transition: .3s;
        padding: 0.5rem 0;


        &:before {
            content: "";
            position: absolute;
            inset: calc(100% - 0.3rem) 0 0 0;
            background: var(--highlight);            
            scale: 0 1;
            transition: .3s, translate 0s .3s;
        }
    }

    li:has(a:hover):before,
    li:has(a:focus):before,
    li:has(.current-link):before     {
        scale: 1;
    }

    li:hover:before {
        translate: 0;
        transition: .3s;
    }

    ul:hover li:has(~ li:hover):before {
        translate: 100% 0;
        transition: .2s .2s, scale 0s .4s;
    }

    ul:hover li:hover~li:before {
        translate: -100% 0;
        transition: .2s .2s, scale 0s .4s;
    }

    .backdrop {
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100vh;
        top: 0;
        z-index: 9;
        pointer-events: all;
    }

    a {
        padding: 0.2rem 1.4rem;
        color: rgba(from var(--text-bg) r g b / 85%);
    }

    .current-link,
    a:hover,
    a:focus {
        color: var(--text-bg);
    }
}