.placeTeaser {
    font-family: var(--font-open-sans);
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    display: flex;

    img {
        max-width: 100%;
        object-fit: cover;
    }

    span {
        font-size: 1.6rem;
        font-family: var(--font-lora);
        line-height: 1.6;
        background: var(--place-preview-bg);
        display: block;
        padding: 1rem;
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: 0;
        inset-inline-start: 0;
    }

    .wrapper {
        position: relative;
        inline-size: 100%;
        block-size: auto;
        max-height: 20.6rem;
        overflow: hidden;
        display: flex;

        &:before {
            content: "";
            box-shadow: var(--image-card-border);
            position: absolute;
            inset: 0;
            z-index: 9;
        }
    }

 
    .link span::after {
        content: '';
        position: absolute;
        inline-size: 100%;
        block-size: 0.4rem;
        background: linear-gradient(to right, rgba(var(--soft-yellow), 0.75), rgba(var(--vibrant-orange), 0.75));
        inset-block-end: 0.5rem;
        inset-inline-start: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease-out;
    }

    .link:hover span::after,
    .link:focus span::after {
        transform: scaleX(1);
    }
}